.last-articles-component {
    width: 100%;
}

.last-articles-component h2 {
    width: 40%;
    border-bottom: 4px solid #85BD4C;
    padding-bottom: 5px;
}

.last-articles-component-block {
    background: #eaeaea;
    width: 80%;
}

.last-articles-component-block a {
    text-decoration: none;
    color: black;
}

.last-article {
    width: 80%;
    display: flex;
    margin-bottom: 20px;
}

.last-article-info {
    width: 80%;
}

.last-article-minia {
    width: 100px;
    height: 100px;
    background: #E52446;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.last-article-info {
    margin-left: 10px;
}

.last-article-author-name {
    font-weight: 700;
    color: #E52446;
    text-transform: uppercase;
}

.more-articles {
    
    color: #E52446;
    text-decoration: none;
    padding: 8px;
    font-weight: 600;
    border: 1px solid #E52446;
    border-radius: 5px;
}

.more-articles:hover {
    border: 0;
    background: #E52446;
    color: white;
}