p {
    font-size: 14px;
}

.last-news-area {
    width: 60%;
}



h2 {
    text-transform: uppercase;

}

.last-news-area h2 {
    display: block;
    width: 26%;
    padding-bottom: 3px;
    border-bottom: 4px solid #85BD4C;
}

.last-news-block {
    width: 76%;
    background: #eaeaea;
    padding-top: 2%;
    padding-bottom: 1%;
}

.last-news-block a {
    text-decoration: none;
    color: black;
}

.new-article {
    display: flex;
    
    
    
}

.new-article-image {
    
    margin-left: 15px;
    margin-bottom: 15px;
    background: #E52446;
    width: 200px;
    height: 200px;
    
}

.new-article-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 10px;
}

.new-article-info h3 {
    margin: 0;
    margin-bottom: -12px;
}

.new-article-date, .new-article-description {
    font-size: 14px;
}

.new-article-description {
    margin-top: -5px;
}

.new-article-author {
    font-size: 14px;
    font-weight: 700;
    color: #E52446;
    text-transform: uppercase;
    margin-top: 3px;
}

.last-reviews-area {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.last-reviews-area h2 {
    display: block;
    width: 44%;
    padding-bottom: 3px;
    margin-left: 315px;
    border-bottom: 4px solid #E52446;
    
}

.last-reviews-block {
    display: flex;
    flex-direction: column;
    width: 80%;
    
}

.new-review {
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 20px;
}

.last-reviews-block a {
    text-decoration: none;
    color: black;
}

.review-placeholder {
    background: #85BD4C;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    
}



