.article-page-area {
    width: 100%;
    display: flex;
    
}

.article-page-block {
    width: 60%;
    
}

.article-page-block h2 {
    font-size: 30px;
    font-weight: 800;
}

.article-intro {
    width: 80%;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-text {
    width: 80%;
    margin-bottom: 20px;
}

.writer-block {
    width: 80%;
    
}

.article-aside {
    width: 40%;
}

/*
-----------------
RESPONSIVE
------------------
*/

/* Tablettes (paysage) | Desktop low-def */

@media screen and (min-width: 1025px) and (max-width: 1366px) {

    .article-page-area {
        flex-direction: column;
        align-items: center;
    }

    .article-page-block {
        width: 100%;
    }

    .article-page-block h2 {

        text-align: center;

    }

    .article-image img {
        width: 600px;
    }

    .article-intro, .article-text, .writer-block {
        width: 100%;
    }

    .article-aside {
        width: 100%;
        margin-bottom: 30px;
    }

}

/* Tablettes (portrait) */ 

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .article-page-area {
        flex-direction: column;
        
    }

    .article-page-block h2 {
        margin-left: 9%;
    }

    .article-page-block {
        width: 100%;
    }
    
    .article-date-time-author {
        margin-left: 9%;
    }

    .article-image img {
        width: 100%;
    }

    .article-intro, .article-text {
        width: 95%;
        margin-left: 3%;
        
    }

    .article-aside {
        width: 100%;
        margin-bottom: 30px;
    }

    .writer-block {
        margin-left: 3%;
    }

}

/* Mobiles */ 

@media screen and (min-width: 350px) and (max-width: 767px) {

    .article-page-area {
        flex-direction: column;
        
    }

    .article-page-block h2 {
        margin-left: 6%;
        font-size: 25px;
    }

    .article-page-block {
        width: 100%;
    }
    
    .article-date-time-author {
        margin-left: 6%;
    }

    .article-image img {
        width: 100%;
        
    }

    .article-intro, .article-text {
        width: 95%;
        margin-left: 3%;
        font-size: 16px;
    }

    .article-aside {
        width: 100%;
        margin-bottom: 30px;
    }

    .writer-block {
        margin-left: 3%;
    }

}