.last-reviews-component {
    width: 100%;
}

.last-reviews-component-block a {
    text-decoration: none;
    color: grey;
}

.last-reviews-component-block h2 {
    width: 35%;
    padding-bottom: 5px;
    border-bottom: 3px solid #E52446;
}

.review {
    display: flex;
    
}

.review-info {
    width: 70%;
}

.review-author {
    font-weight: 700;
    color: #E52446;
    text-transform: uppercase;
}

.review_placeholder {
    width: 40px;
    height: 40px;
    background: #85BD4C;
    border-radius: 100%;
    margin-top: 20px;
}