.searchBar {
    width: 100%;
}

input {
    background: #EAEAEA;
    border: 0;
    height: 30px;
    width: 40%;
    
}

button {
    border: 0;
    height: 30px;
    background: #85BD4C;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

button svg {
    display: none;
}

@media screen and (min-width: 350px) and (max-width: 1024px) {

    .searchBar {
        display: flex;
        justify-content: center;
    }

    input {
        width: 75%;
        height: 40px;
    }

    button {
        height: 40px;
    }

    button svg {
        display: flex;
        stroke: white;
        width: 20px;
    }

    .searchbar-desktop-button-text {
        display: none;
    }

    
}