header {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

nav {
    background: #E52446;
    width: 40%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 15px;
}

nav a {
    
    padding-left: 4%;
    padding-right: 4%;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover {
    background: #85BD4C;
    padding-top: 8px;
    padding-bottom: 8px;
    color: black;
}